*{
    list-style:none;
}
@import "./parciales/body";
@import"./parciales/grid";
@import "./parciales/section";
@import "./parciales/grid3";
@import "./parciales/grid4";
@import "./parciales/grid5";
@import "./parciales/grid6";
@import "./parciales/grid9";
@import "./parciales/footer";
@import "./parciales/ir-arriba";
@import "./parciales/headerartista";
@import "./parciales/h";
@import "./parciales/responsive";

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Red October';
    src: url('font/redoctober.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}