*{
font-family: Roboto;
src: url(Roboto.ttf);
padding:0;
list-style:none;
}
body{
background-color: #969696;
color:black;
}
section{
margin: 0;
position: top;
z-index: 4;
text-align: center;
background-color: white;
}
.logo{
display:grid;
justify-content: center;
}
.hamburguesa{
display:grid;
z-index: 5;
margin-left: 20%;
}
#menu_on{
display: block;
position: absolute;
z-index: 2;
margin-left:-3em;
}
.visible_menu nav{
left: 0;
opacity: 1;
}
.grid8{
padding:5%;
box-sizing: border-box; 
border:solid 10px;
border-color: black;
}
.banner6{
text-align:center;
width:100%;
display:grid;
overflow:auto;
padding:1em;
}
.grid{
display:grid;
background-color: #969696;
text-align: left;
grid-column-gap: 5%;
justify-items: center;
align-items: center;
}
.grid img{
width: 80%;
justify-items: center;
align-items: center;
}
.grid a{
color: black;
text-decoration: none;
}
.form-consulta{
display:grid;
justify-content: center;
padding:5%;
}
.campo-form {
width:100%;
height:2em;
margin:2px 0 6px;
box-sizing: border-box;
padding:0.5em 0 0 0.5em;
color:black;
}
textarea:focus {
background-color: #969696;
}
label span {
color: #00ff00
}
textarea {
min-height: 10em;
}
.btn-form {
display: grid; 
background: red; 
height: 4em;
width:50%;
padding: 0 20px; 
color:#fff;
text-transform: uppercase;
border: none;
}
.btn-form:hover{
background: #959595;
color: black;
}
.grid2{
width: 100%;
padding:2em;
text-align: center;
}
footer{
display:grid;
text-align:left;
padding:2em;
bottom:0;
background-color: black;
}
footer ul li{
padding:0;
margin:0;
float:left;
}
footer a{
padding:0;
color: white;
}
.redes{
display:grid;
width:100%;
}
.redes ul li{
padding:1em 1em 0 0;
}
.grid4 img{
width: 100%;
padding:5%;
}
.grid5 img{
width: 100%;
padding: 15%;
}
.grid6{
padding:5%;
top:0;
}
.grid6 img{
width: 100%;
}
.grid6 h5{
background-color:white;
padding:5%;
margin:0;
box-sizing: border-box; 
border:solid 10px;
border-color: black;
}
section header .headerartista img{
width: 100%;
}
h1{
font-size: 3rem;
font-family:RedOctober;
color: black;
}
h2{
font-size: 1.8rem;
font-family:RedOctober;
src: url(redoctober.ttf);
}
h4{
font-size: 1.5rem;
font-family: roboto;
color: black;
}
h5{
font-size: 1.2rem;
font-family:Roboto;
color: black; 
}
header nav{
position: fixed;
top: 0;
bottom: 0;
z-index: 2;
left:-100%;
padding: 3em 1em 3em;
width: 100%;
background: red;
transition: all 0.75s ease;
display:grid;
}
header nav a{
color:black;
}
header nav ul li a{
display: grid;
}
header nav ul li:hover{
background: #969696;
color: black;
text-decoration:none;
}
.ir-arriba{
display:none;
position:fixed;
bottom:5%;
right:5%;
z-index:6;
}
@media (min-width: 60em){
    header nav{
        left:0;
        height:100%;
        padding:7% 0 1em 0;
        width: 20%;
        }
        header nav ul li {
        padding: 1em;
        }
.logo img{
    width:20%;
left: 0;
top:0;
padding:1em;
position: fixed;
z-index: 3;
background-color: white;
}
.grid{
width:80%;
margin-left:20%;
grid-template-columns: 42% 42%;
grid-column-gap: 5%;
}
.grid8{
width: 80%;
height:80%;
transform: translate(10px, 20px);
}
footer{
grid-template-columns: 45% 45%;
grid-column-gap: 5%;
width:80%;
margin-left:20%;
}
.grid6{
display: grid;
width:80%;
margin-left:20%;
grid-template-columns: 40% 40%;
grid-column-gap: 5%;
padding: 6% 0 10% 10%;
position:absolute;
}
.hamburguesa{
display:none;
}
#menu_on{
display: none;
}
.banner6{
width:80%;
}
.grid3{
display:grid;
width:80%;
margin-left:20%;
grid-template-columns: 45% 45%;
grid-column-gap: 1%;
text-align:center;
justify-items: center;
align-items: center;
background-color: #969696;
}
.grid7{
text-align:left;
}
img{
width:100%
}
.grid4{
display:grid;
width:80%;
margin-top:15%;
margin-left:20%;
text-align:center;
justify-content: center;
background-color: #969696;
grid-template-columns: 45% 45%;
grid-column-gap: 1%;
padding-top: 4em;
color: black;
}
.grid5{
width:80%;
margin-left:20%;
justify-content: center;
display:grid;
background-color: #969696;
grid-template-columns: 15% 15% 15% 15%;
grid-column-gap: 5%;
color: black;
}
header nav a{
display: none;
}
.form-consulta {
margin-left:7em;
}
}
@media (min-width: 35em){
}