* {
box-sizing: border-box;
text-decoration: none;
font-family: Roboto;
src: url(Roboto.ttf);
list-style:none;
}
.grid a{
color: black;
text-decoration: none;
}
h4{
font-size: 1.5rem;
font-family:Red October;
src: url(redoctober.ttf);
}
.form-consulta {
max-width: 100%;
margin:0 auto;
padding:6em 0 6em 0; 
color: black;
}
.campo-form {
width:100%;
height:2em;
margin:2px 0 6px;
box-sizing: border-box;
padding:0.5em 0 0 0.5em;
color:black;
}
.grid img{
width: 50%;
justify-items: center;
align-items: center;
}
textarea:focus {
background-color: #969696;
}
label span {
color: #00ff00
}
textarea {
min-height: 10em !important;
}
.btn-form {
display: grid; 
background: red; 
height: 4em;  
padding: 0 20px; 
color:#fff;
text-transform: uppercase;
border: none;
}
.btn-form:hover {
background: #959595;
color: black;
}
section {
padding:0;
margin: 0;
position: top;
z-index: 4;
}
header nav{
position: fixed;
top: 0;
bottom: 0;
left:-100%;
width: 100%;
z-index: 2;
padding: 3em 1em 3em;
background: white;
transition: all 0.75s ease;
overflow-y: auto;
display:block;
overflow:auto;
}
#menu_on{
display: block;
position: absolute;
z-index: 2;
margin-left:-3em;
}
.visible_menu nav{
left: 0;
opacity: 1;
}
.hamburguesa{
display:none;
}
.slider{
padding: 10em 0 10em 0;
}
.slider img{
width:100%;
text-align:center;
}
.banner6{
text-align:left;
width:100%;
display:block;
overflow:auto;
padding:1em;
}
.banner2 {
text-align:left;
width:100%;
display:block;
overflow:auto;
padding:1em;
}
.bannerimg{
text-align:center;
}
.bannerholi{
padding-top: 4em; 
width:60%; 
margin:0 auto;
text-align:center;
}
.banner2 img{
width:100%;
display:block;
overflow:auto;
text-align: left; 
padding-top: 4em; 
padding-bottom: 4em;
}
.banner2 h2{
padding:0;
}
.banner3{
padding:0;
margin-left:-1.5em;
margin-right:-1em;
}
.banner3 img{
font-size:100%;
width:100%;
margin-right:0em;
display:block;
overflow:auto;
text-align:center;
}
footer {
display:block;
overflow:auto;
text-align:left;
padding:0;
margin:0;
background-color: black;
}
footer p{
padding:0;
margin:0;
color: white;
}
footer ul li{
padding:0;
margin:0;
float:left;
}
.redes{
display:block;
overflow:auto;
width:100%;
float:left;
list-style:none;
margin:0;
padding:0;
}
.intro{
text-align:left;
width:100%;
padding:0;
}
.gracias{
text-align:center;
max-width:100%;
}
.gracias img{
width:100%;
padding: 8em 0em 6em 0em;
}
.trabajos{
padding:0;
margin-left:-1.5em;
margin-right:-1em;
}
.trabajos img{
width:100%;
margin-right:0em;
display:block;
overflow:auto;
text-align:center;
}
.trabajos video{
width:100%;
margin-right:0em;
display:block;
overflow:auto;
text-align:center;
animation-play-state:paused;
}
.banner5{
display:none;
}
body{
background-color: #969696;
color:black;
}
@media (min-width: 35em){
*{
margin: 0.5em 0 0 0.5em;
padding:0;
}
body{
background-color: #969696;
color:black;
}
.logo img{
width:20%;
left: 0;
padding:1em;
position: fixed;
z-index: 3;
background-color: white;
}
header nav{
float: left;
height:100%;
display:block;
transition: all 0.01s ease;
}
header nav ul li a{
display: grid;
color:black;
text-decoration: none;
}
.grid4{
display:grid;
width:80%;
margin-left:20%;
background-color: #969696;
grid-template-columns: 45% 45%;
grid-column-gap: 5%;
padding-top: 4em;
}
.grid4 img{
width: 100%;
padding:5%;
}
.grid4 h4{
grid-template-columns: 100%;
}
.grid{
display: grid;
grid-column-gap: 5%;
justify-items: center;
align-items: center;
background-color: #969696;
}
.grid2 img{
width: 100%;
}
.banner{
margin:0 auto;
width: 60%;
}
footer {
width:100%;
padding: 1em;
}
footer p{
padding: 1rem;
}
.bajadita{
display:block;
overflow:auto;
width:45%;
float:left;
padding:0.5em 0.5em 0.5em 0.5em;
}
.redes{
display:block;
overflow:auto;
width:45%;
float:right;
padding:0.5em 0 0.5em 0;
}
.redes ul li {
padding-top:1em;
padding-right:1em;
}
}
@media (min-width: 60em){
* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
line-height:120%;
}
.grid{
display: grid;
width:80%;
margin-left:20%;
grid-template-columns: 42% 42%;
grid-column-gap: 5%;
}
.grid6{
display: grid;
width:80%;
margin-left:20%;
grid-template-columns: 35% 35%;
grid-column-gap: 5%;
padding: 6% 0 10% 9%;
}
.grid6 img{
width: 100%;
}
h1{
font-size: 3rem;
font-family:Red October;
color: black;
}
h3{
font-size: 1.5rem;
font-family: roboto;
color: black;
}
h5{
font-size: 1.5rem;
font-family:Roboto;
color: black; 
}
.hamburguesa{
display:none;
}
#menu_on{
display: none;
}
.banner6{
text-align:center;
width:50%;
display:block;
overflow:auto;
padding:1em;
}
.grid3{
display:grid;
width:80%;
margin-left:20%;
text-align:center;
justify-items: center;
align-items: center;
background-color: #969696;
}
.grid4{
display:grid;
width:80%;
margin-left:20%;
text-align:center;
justify-content: center;
background-color: #969696;
grid-template-columns: 45% 45%;
grid-column-gap: 1%;
padding-top: 4em;
color: black;
}
.grid4 img{
width: 80%;
}
.grid5{
width:80%;
margin-left:20%;
justify-content: center;
padding: 0 5% auto;
display:grid;
background-color: #969696;
grid-template-columns: 15% 15% 15% 15%;
grid-column-gap: 5%;
color: black;
}
.grid5 img{
width: 100%;
padding:10%;
}
header nav{
display:grid;
left:0;
height:100%;
padding:10% 1em 1em 1em;
width: 20%;
background: red;
}
header nav ul li {
padding: 1em;
display:grid;
color:black;
}
header nav ul li:hover{
background: #959595;
color: black;
text-decoration: none;
}
header nav a{
display: none;
}
.logo{
display:grid;
justify-content: center;
width: 20%;
}
.gracias{
text-align:center;
max-width:50%;
}
.gracias img{
width:100%;
padding: 8em 0em 6em 0em;
}
.slider{
text-align:left;
padding:5em 15em 5em 15em;
}
.slider h1{
text-align: center;
padding-bottom: 3em;
padding-top: 3em;
}
.slider img{
width: 80%;
}
.banner1{
padding:0.5em 6em 0 6em;
width: 100%;
}
.banner{
width:100%;
height: 100%;
padding:5em;
}
.banner2{
width:50%;
margin:0 1em 0 1em;
display:inline-block;
overflow:auto;
}
.banner2, img{
width: 20%;
text-align:left;
}
.banner3{
width: 44%;
margin:0 1em 0 1em;
display:inline-block;
overflow:auto;
margin:1em;
}
.banner3, img{
text-align:left;
}
.trabajos{
padding: 0;
margin:0 auto;
width:40%;
}
.trabajos img{
width:100%;
padding:1em 0;
}
.intro{
text-align:left;
width:100%;
padding:2em 0;
}
.banner3:hover{
background: #ff00ff;
}
.form-consulta {
margin-left:7em; 
padding:1em 0 em 0; 
display:grid; 
overflow:auto;
}
.campo-form {
width:100%; 
height:2em; 
margin:2px 0 6px; 
box-sizing: border-box; 
padding:0.5em 0 0 0.5em;
color:black;
}
.banner4{
padding-top: 6em;
width:100%;
display:inline-block;
overflow:auto;
}
.bajadita{
display:block;
overflow:auto;
width:45%;
float:left;
padding:0.5em 0.5em 0.5em 6em;
}
footer {
display:block;
overflow:auto;
width:80%;
margin-left:20%;
text-align:left;
padding: 0.5em;
bottom:0;
}
.redes{
display:block;
overflow:auto;
width:45%;
float:right;
padding:0.5em 0.5em 0.5em 7.3em ;
list-style:none;
}
.redes ul li{
padding:1em 2em 0 0;
}
.banner{
text-align:center;
display:block;
overflow: auto;
margin:0;
background-color: #969696;
}
}