footer{
    display:grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 1%;
    width:85%;
    margin-left:15%;
    text-align:left;
    padding:2em;
    bottom:0;
    background-color: $back-negro;
    a{
        color: white;
    }
    ul li{
        padding:0;
        margin:0;
        float:left;
    }
    .redes{
        display:grid;
        width:100%;
        ul li{
            padding: 2%;
        }
    }
}