.grid5{
    display: grid;
    width:85%;
    margin-left:15%;
    justify-content: center;
    background-color: #969696;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 2%;
    color: $back-negro;
    img{
        width: 100%;
        padding: 15%;
    }
}