.grid6{
    display: grid;
    width:85%;
    margin-left:15%;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2%;
    position:absolute;
    padding:5%;
    margin-top: 10%;
    img{
        width: 100%;
    }
    h5{
        background-color:white;
        padding:5%;
        margin:0;
        box-sizing: border-box; 
        border:solid 5px;
        border-color: $back-negro;
        text-align: left;
    }      
}