.grid5{
    width:80%;
    margin-left:20%;
    justify-content: center;
    display:grid;
    background-color: #969696;
    grid-template-columns: 15% 15% 15% 15%;
    grid-column-gap: 5%;
    color: black;
    img{
        width: 100%;
        padding: 15%;
    }
}