.grid3{
    display:grid;
    width:80%;
    margin-left:20%;
    grid-template-columns: 48% 48%;
    grid-column-gap: 1%;
    text-align:center;
    justify-items: center;
    align-items: center;
    .grid8{
        width:120%;
        margin-left: 40%;
        padding:5%;
        text-align: left;
        z-index: 2;
    }
    .banner6{
        text-align:center;
        width:100%;
        display:grid;
        overflow:auto;
        padding:1em;
    }
}