.grid3{
    @extend doscolumnas;
    background-color: $back-gris;
    .banner6{
        text-align:center;
        width:100%;
        display:grid;
        overflow:auto;
        padding:1em;
    }
}