.grid3{
    display:grid;
    width:85%;
    margin:0 0 0 15%;
    grid-template-columns: 48% 48%;
    grid-column-gap: 1%;
    text-align:center;
    justify-items: center;
    align-items: center; 
    background-color: $back-gris;
    .banner6{
        text-align:center;
        width:100%;
        display:grid;
        overflow:auto;
        padding:1em;
    }
}