h1{
    font-size: 10rem;
    font-family:Red October;
    src: url(font/redoctober.ttf);
    color: red;
}
h3{
    font-size: 1.8rem;
    font-family:Red October;
    src: url(font/redoctober.ttf);
}
h4{
    font-size: 1.5rem;
    font-family: roboto;
    color: black;
}
h5{
    font-size: 1.2rem;
    font-family:Roboto;
    color: black; 
}
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Red October';
    src: url('font/redoctober.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}