.headerartista{
    display: grid;
    img{
        width: 85%;
        top:0;
        margin-left:15%;
        position:absolute;
		box-sizing: border-box; 
        border-bottom:solid 5px;
        border-color: $back-negro;
    }
}