$estilos_mobile: (
    full_screen: 100%,
);
@media (min-width: 60em){
.banner6{
    width:80%;
}
img{
width:100%;
}
header nav a{
    display: none;
}
}
@media (max-width: 35em){
.hamburguesa{
    display:grid;
    z-index: 99;
    position: absolute;
}
#menu_on{
    position: absolute;
    z-index: 44;
    margin: 10% 0 0 3%;
}
#menu_off{
    position: absolute;
    z-index: 44;
    margin: 10% 0 0 3%;
}
.visible_menu nav{
    left: 0;
    opacity: 1;
}
.invisible_menu nav{
    left: -100%;
    opacity: 1;
}
section header nav{
    left: -100%;
    width: map-get($estilos_mobile, full_screen);
    z-index: 100;
}
section header .logo img{
    width: map-get($estilos_mobile, full_screen);
    height:20%;
    position: absolute;
}
.headerartista{
    height:20%;
    img{
    width: map-get($estilos_mobile, full_screen);
    top:20%;
    }
}
.grid .form-consulta {
    width: 100%;
}
.grid3{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    margin-left: 0;
    padding-top:25%;
    .grid8 h1{
        width: 80%;
        font-size: 10rem;
        padding: 5%;
        margin-left: 0;
    }
}
.grid9{
    display:none;
}
.grid6{
    width:100%;
    margin-top:35%;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 100%;
    position:relative;
    justify-content: center;
    padding:5%;
    img{
        width: 100%;
}
}
footer{
    width: 100%;
    grid-template-columns: 100%;
    margin:0;
}
.grid{        
    width: 100%;
    grid-template-columns: 100%;
    margin:0;    width: 100%;
    grid-template-columns: 100%;
    margin:0;
}
.grid4{
    width: 100%;
    grid-template-columns: 100%;
    margin:0;
}
.grid5{
    width: 100%;
    grid-template-columns: 100%;
    margin:0;
    h4{
        padding: 5%;
    }
}
.grid404 img{
    width: 100%;
    margin: 0;
    padding: 40% 0 20% 0;
}
}